@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.right-links, .left-links{
  display: flex;
  gap: 16px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.input{
  display: flex;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 5px 10px;
}
.footer{
  background-color: #eee;
}