/* Add CSS Styling */
.odd{
    background: hsl(342, 64%, 63%);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#second-element{
    color: #067cca;
    font-size: 36px;
}
#third-element{
    font-size: 24px;
}
#fourth-element{
    background: #25cf72;
    font-size: 24px;
    font-weight: bold;
}