body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
li, ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 32px;
  padding-left: 16px;
}

.container{
  display: flex;
  flex: 1;
}
.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex-shrink: 0;
}

.sidebar li{
  padding: 10px;
}

.cards-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 24px;
  padding: 48px;
  justify-content: center;
}
.card {
  flex-shrink: 0;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(19, 18, 18, 0.1);
  border-radius: 4px;
  padding: 48px;
  text-align: center;
  flex: 0 0 20%;
  margin: 10px;
}